* {
    box-sizing: border-box;
    font-family: "roboto";
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}

.game {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 5px solid white;
    border-radius: 1rem;
    overflow: hidden;
}

.header{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
}

.canvasContainer {
    background-color: rgb(214, 154, 154);
    padding: 1rem;
    border-radius: 1rem;
    flex: 1;
}

.canvas{
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: white;
    overflow: hidden;
}

.interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    background-color: rgb(212, 212, 212);
    padding: 1rem;
}

.interfaceTop {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

button {
    flex: 1;
    font-size: 1rem;
    padding: 1rem 2rem;
}

.controls {
    flex: 1;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.colorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
}

.pixel {
    flex: 1;;
}

.grid {
    border: .5px solid rgb(119, 119, 119)
}

@media screen and (max-width: 1200px){
    .game {
        width: 100%;
    }

    body {
        align-items: stretch;
    }

    .game{
        flex: 1;
    }

    .interface{
        flex: 1;
    }
}    
